.week-container{
	width: 100%;
	overflow: hidden;
	margin:0 auto;
	font-family: 'Microsoft YaHei';
	font-size: 16px;
}
.week-container .week_head{
	margin:5px 0;
}
.week-container .week_head span{
	display: inline-block;
	height: 36px;
	padding:0 20px;
	background: #f00;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	color: #fff;
	line-height: 36px;
	font-size: 16px;
}
.time{
	position: relative;
}
.week-container .button_prev,.week-container .button_next{
	width:30px;
	height: 30px;
	display: block;
	border: 1px solid #f00;
	color: #f00;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top:50%;
	margin-top:-15px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 26px;
	z-index: 9;
}
.week-container .button_prev{
	left:0;
}
.week-container .button_next{
	right: 0;
}
.week-container .time_header{
	overflow: hidden;
	padding:0;
	background: #f2f2f2;
}
.week-container .time_header h3{
	width: calc(100%/7);
	text-align: center;
	margin:0;
	line-height: 40px;
	float: left;
	font-weight: 600;
	font-size: 16px;
	color: #999999;
}
.week-container .time_con{
	background: #FFFFFF;
	overflow: hidden;
	width: 300%;
	margin-left: -100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.week-container .time .slider_li{
	float: left;
	width:33.3%;
	padding:0;
	box-sizing: border-box;
}
.week-container .time_td{
	float: left;
	width: calc(100%/7);
	text-align: center;
	border-radius: 50%;
	position: relative;
}
.week-container .time_td p{
	margin:0;
}
.week-container .selected{
	/*background: #eee;*/
	background: #f00;
    color: #fff;
}
.week-container .current_date{
	/*background: #f00;
	color: #fff;*/
}
.week-container .dot{
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    background: #FF808E;
    border-radius: 50%;
}
.yearSpan{
	visibility: hidden;
}
#container{
	position: fixed;
	top: 44px;
	width: 100%;
	left: 0;
	z-index: 10;
}
