body{ -webkit-tap-highlight-color:rgba(0,0,0,0); } 
			a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);
			tap-highlight-color: rgba(0,0,0,0);
			focus-ring-color: rgba(0, 0, 0, 0);
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-focus-ring-color: rgba(0, 0, 0, 0);
			-moz-tap-highlight-color: rgba(0,0,0,0);
			-moz-focus-ring-color: rgba(0, 0, 0, 0);
			border:none;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-tap-highlight-color:transparent;
			outline:none;}
@charset "utf-8";
/*样式重置*/
html,body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,dl,dt,dd,iframe,textarea,input,button,p,strong,b,a,span,del,pre{margin:0;padding:0;-webkit-text-size-adjust:none;}
ul,dl,ol,li{list-style-type:none;}
html,body{height:100%;}
body{font-size:14px;font-family:"微软雅黑";height:100%;}
a{text-decoration:none;color:#666;}
a:hover,a:focus{text-decoration:none;}
.clearfix{overflow:hidden;}
.clear{clear:both;}
.w-fl{float:left;}
.w-fr{float:right;}
em{font-style:normal;}

@media(min-width:640px){	
	.head{margin: 0 auto; font-size:1.5em;}
}
/*药都大酒店餐饮*/
.gxyhead{ width: 100%;background: #f2f2f2;
}
.gxyhead .headtitle{ height: 56px;
    line-height: 56px; background: #fff; position: relative;}
.gxyhead .headtitle .mbank a{position: absolute;
left: 0;
top: .3rem;
width: 10%;
margin-right: 12px;
height: 100%;
display: inline-block;
vertical-align: middle;
padding-left: 20px;}
.gxyhead .headtitle .mbank img{ background:none;border:0; width: 20px;height:24px;display: inline-block;-webkit-border-radius:0;box-shadow:none;}
.gxyhead .headtitle .name{     font-size: 20px;
    color: #d12a18;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 56px;}
.gxyhead .headtitle .Tel a{position: absolute;right: 0.5rem;top: 0; width: 10%; height: 100%; display: inline-block;vertical-align: middle;margin-bottom: 0;}
.gxyhead .headtitle .Tel img{ background:none;border:0;margin-top:1.5rem;width: 1.5rem;height: 1.5rem; display: inline-block;box-shadow:none;}
.gxyhead .logo{position: relative; top: 0; width: 100%; }
.gxyhead .logo>img{ width: 100%; height: 100%; display: inline-block;box-shadow:none;padding: 0;border-radius:0; margin-bottom:0px;}
.gxyhead .logo .main-logo{height: 100%; position: absolute;top: 2rem;left: 15rem;}
.gxyhead .logo .main-logo>img{ position: absolute;display: inline-block;width: 10rem;height: 10rem;top: 1.5rem;left: 9rem;}
.main-name{ line-height: 30px; height: 30px;text-align: center;position: absolute;top: 6.5rem;left: -.5rem;width: 100%;}
.main-name a{ font-size: 1em; color: #fff; text-decoration: none; }
.main-tip a{color: #fff;height: 2rem;line-height: 2rem;position: absolute;bottom: 0;}
.main-head .main-tip a{ font-size: 1em;color: #fff;position: absolute;top:0;lef:0; }
.gbtn{width: 90%;margin:0 auto;}
.gbtn div{width:100%;height:85px;border:1px solid red;margin:12px 0;border-radius: 5px;}
.gbtn .Reservation{background:url(../../images/hotel/Reservation.jpg) no-repeat center;background-size:cover; }
.gbtn .Restaurant{background:url(../../images/hotel/Restaurant.jpg) no-repeat center;background-size:cover;}
.gbtn .Exhibition{background:url(../../images/hotel/Exhibitio.jpg) no-repeat center;background-size:cover;}
.gbtn .Celebration{background:url(../../images/hotel/Celebration.jpg) no-repeat center;background-size:cover;}

/*酒店相册开始*/
.gxyhead .show{margin-top:1rem;background-color: #fff;width: 100%;height: 100%;}
.gxyhead .show ul{width:100%;}
.gxyhead .show li{float: left;width: 20%;text-align: center;height:3rem;line-height: 3rem;}
.gxyhead .show .showList{border-bottom:1px solid #d12a18;color:#d12a18;color:#000;}
.show .showCont{margin-left: .5rem;color:#999999;height: 100%;}
.show .showCont1{height: 2rem;line-height: 2rem;display:block;width: 100%;overflow: hidden;}
.show .showCont2{width: 47%;height: 100%;display: inline-block;float: left;-webkit-border-radius:.2rem;margin-bottom:.5rem;margin-right:.5rem;
vertical-align: middle;
 }
/*酒店相册结束------------------*/

/*酒店信息开始-----------*/
.gFacilitygg{background-color: #fff;margin-top:1rem;}

.gFacility .gFacility-All{padding: 0 1rem;height: 9rem;position: relative;margin-top:1rem;color:#676767;}
.gFacility-All li{float: left;width: 25%;height: 2rem;line-height: 2rem;}
.gFacility-All i{position: absolute;    background-position:;}
.gFacility-All img{    background-size: contain;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: .5rem;}
    .gFacility-All span{padding-left:1.3rem;}
.gAdress{font-size:1rem ;position: relative;}
.gAdress-a span{padding:0 1rem;font-size:20px}
.gAdress-aa{    display: inline-block;
    width: 82%;
    height: 4rem;
    line-height: 1.5rem;
    margin-top: 1rem;}
.gAdress-a a{display: inline-block;position: absolute;top:4rem;right: 0;}
.gAdress-a a img{width: 65%;height: 65%;}
.gJieshao{font-size:1rem;margin-top:1rem;}
.gAraffic{font-size:1rem;height: 10rem;}
.gjiaotong{font-size:1rem;    height: 14rem;}
.gJieshao-time{font-size: 1rem;padding:0 1.5rem;margin-top:1rem;color:#676767;height:1rem;}
.gjd{margin-top:1rem;padding:0 1rem;color:#676767;}
/*酒店信息结束--------------*/
/*去支付开始-------------------------*/
.ggys{background-color: #fff;    margin-top: .5rem;

}
.gBig .gBig-bed{color:#d12a18;display: block;height: 3rem;line-height: 3rem;font-size: 1rem;margin:0 .6rem;border-bottom:1px solid #e0e0e0;}
.gBig .gBig-time{height: 3rem;line-height: 3rem;font-size:18px;margin:0 20px;border-bottom: 1px solid #e0e0e0;}
.gBig .gBig-time span{display: inline-block;}
.gBig .gBig-rz{margin-right:calc(9%);}
.gBig-info{height: 2rem;line-height: 2rem;font-size:14px;}
.gBig-info li{float: left;padding:0 20px;color: #7f7f7f;font-size:14px;}
.gRooms-txt{height: 2.5rem;line-height: 2.5rem;margin: 0 20px;border-bottom: 1px solid #e0e0e0;font-size:18px;}
.gRooms-txt input{    
		border: none;
	font-size: 18px;
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	width: 13rem;
	width: calc(63%);
	text-align: right;
	/*padding-right: 20px;*/
	outline: none;
}
.gRoomsNum div{    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 20px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;}
.gRoomsNum  .w-fr{color:#d12a18;}
.gRoomsNum b{margin-left: 5rem;font-weight: 100;}
.gRoomsHobby{height: 2.5rem;line-height: 2.5rem;margin: 1 20px;border-bottom: 1px solid #e0e0e0;padding:0 20px;font-size:18px;}
.gbigBott{border-top:#d12a18;position:fixed;bottom:0;height: 3rem;line-height: 3rem;background-color: #fff;}
.gbigBott .gBigPay a{position:fixed;bottom:0;display: inline-block;width: 6rem;color:#fff;background: url(../../images/hotel/cartBackground.png) center repeat;text-align: center;right:0;}
.gbigBott .gbigBott-l{position:fixed;bottom:0;left:0;}
.zzshopping-price{padding-left:20px;font-size: 1rem;}
.zzshopping-price>span{font-size:14px;}
/*去支付结束-------------------------*/

/*点开房间图开始--------------------------------*/
.openshow{position: relative;}
.openshow img{width: 100%;height: 100%;}
.openshow .openshow-a{       position: absolute;
    background: url(../../images/hotel/034Back.png) no-repeat center;
    width: 20px;
    height: 24px;
    top: 1rem;
    left: 20px;
    background-size:contain;}
.openshow .openshow-b {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    top: 1rem;
    font-size: 1rem;
    z-index: 10;
}
.openshow .openshow-c{    position: absolute;color: #fff;width: 10%;text-align: center;left: 10rem;bottom: 1rem; background: rgba(0,0,0,0.5);border-radius: .5rem;padding: 0 .3rem}
.openshow-center{position: relative;background-color: #fff;height: 4rem;line-height: 2rem;padding: 0 .5rem;font-size:1rem;}
.openshow-center li{width: 50%;float: left; color:#676767;}
.openshow-center i{position: absolute;}
.openshow-center span{padding-left:2rem;}
.openshow-center img{width:1rem;height: 1rem;background-size: contain;top:0.5rem;left:0;position: absolute;}
.openshow-footer{overflow:hidden;padding: 0 0.5rem;margin-top:0.5rem;background-color: #fff;clear:both;font-size:1rem;}
.openshow-footer span{display: inline-block;}
.gBath{padding-bottom: 0.5rem;width: 100%;border-bottom: 1px solid #e0e0e0;margin-top:0.5rem;}
.gblss{padding-bottom: 0.5rem;width: 100%;border-bottom: 1px solid #e0e0e0;margin-top:0.5rem;}
.gmeiti{padding-bottom: 0.5rem;width: 100%;border-bottom: 1px solid #e0e0e0;margin-top:0.5rem;}
.openshow-ft1{display: inline-block;width: 25%;float: left;}
.openshow-ft2{color:#676767;display: inline-block;width: 75%;}
.zshopping{overflow:hidden;height: 52px; line-height: 42px; background: #fff; width: 100%;position: fixed;bottom: 0px; font-size:18px;border-top:2px solid #d12a18;}
.zshopping .shopping-price{position: absolute; left: 0;top: 0;margin-left: 65px;}
.zshoppingleft{ position: absolute;left:0px; width: 70%;height: 52px; line-height:42px;}
.zshop-price a{color:#d12a18;font-size: .8rem;}
.zshop-price a i{font-size: 1.5rem;}
.zshopping .zshop{width:22%;}
.zshopping .zshopping-price a{  color:#d12a18;text-decoration: none;}
.zshopping .zshopping-price i{font-style: normal;  font-size: 1rem; }
.zshopping .zshop img{ width: 100%; margin-left: 10px; margin-top: 10px; border:0;display: inline-block;box-shadow:none;padding: 0}

.openshowdv{height:3rem;}
/*点开房间图结束--------------------------------*/

/*订房开始-----------------------------*/
.openshow-span1{position: absolute;bottom:2rem;left: 20px;color:#fff;font-size:14px;z-index:3;}
.openshow-span2{position: absolute;bottom:0.5rem;left: 20px;color:#fff;font-size: 18px;z-index:3;}
.openshow-span3{position: absolute;bottom:0.5rem;right:20px;color:#fff;font-size:14px;z-index:3;}
.df-address{position: relative;    background: #fff;}
.df-address .df-address-pic{    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 1rem;
    left: 20px;}
 .df-address   .df-address-top{    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #e0e0e0;}
.w-fr img{       width: 1.5rem;
    height: 1.5rem;
    margin-right: .8rem;
    position: absolute;
    
    right: 0;
    top: 0.9rem;}
.df-address-gn{    height: 3rem;
    background: #fff;
    line-height: 3rem;
position: relative;}
.df-address-gn ul{font-size: 14px;}

.df-address-gn li {
    /*float: left;*/
   	display: inline-block;
    padding-left: 20px;
    height: 2rem;
     line-height: 2rem;
     font-size:14px;
}
.df-address-gn ul.w-fr{
	padding-right: 0.5rem;
	font-size: 16px;
}
.df-shaixuan-top ul li.markC{
	font-size: 18px!important;
}
/*.df-address-gn i{position: absolute;}*/
.df-address-gn .df-address-gn1{    
    background: url(../../images/hotel/WIFI.png) 0rem 0rem no-repeat;
    }
    .df-address-gn .df-address-gn2{    
        background: url(../../images/hotel/diannao.png) 0rem 0rem no-repeat;
       }

     .df-address-gn .df-address-gn3{    
     	background: url(../../images/hotel/P.png) 0rem 0rem no-repeat;
}
    .df-address-gn .df-address-gn4{    
    	background: url(../../images/hotel/reshui.png) 0rem 0rem no-repeat;
}
.df-address-gn .df-address-gn1,.df-address-gn .df-address-gn2,.df-address-gn .df-address-gn3,.df-address-gn .df-address-gn4{
	 background-size: 0.8rem 0.8rem;
   width: 1rem;
   height: 1rem;
   vertical-align: middle;
   display: inline-block;
}


.df-address .df-address-dz{     display: inline-block;
    height: 2rem;
    line-height: 1.5rem;
    margin-left: 3rem;
	font-size: 14px;
	width: 15rem;}
.df-address-dz i{font-style:normal}
.df-time{   
    background: #fff;
    position: relative;
    margin: 0.8rem 20px;
    border-radius: .5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-box-shadow: 0.01rem 0.2rem 0.5rem #999;
    -o-box-shadow: 0.01rem 0.2rem 0.5rem #999;
    -maz-box-shadow: 0.01rem 0.2rem 0.5rem #999;
}
.df-time div:nth-child(1),.df-time div:nth-child(3){    
		display: inline-block;
    height: 1rem;
    margin-top: 0.5rem;
    width: 48%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0.5rem;}
.df-time-rz1{color:#d12a18;}
.df-shaixuantwo{margin-top:0.5rem;background-color: #fff;height: 6.5rem;position: relative;}
.df-shaixuan{margin-top:0.5rem;background-color: #fff;height: 10.5rem;position: relative;}
.df-shaixuan-top{    height: 3rem;
      border-bottom: 1px solid #e0e0e0; }
.df-shaixuan-top ul li{  float: left;
    border: 1px solid #e0e0e0;
   /* padding: 0 .5rem;*/
    border-radius: .2rem;
    margin-right: .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
	font-size: 12px;
	width: 3.2rem;
	text-align: center;}
.shaixuan-color li.df-shaixuan-color{
	color:#d12a18;
	border-color:#d12a18;
	}
	.df-time-zg{
		position: absolute;
		top: 1.3rem;
		left: 50%;
		width: 4rem;
		margin-left: -2.5rem;
		border: 1px solid #e0e0e0;
		border-radius: 0.5rem;
		text-align: center;
		font-size: 14px;
	}
/*.df-address-gn ul.w-fr{
    padding-right: 0.6rem;
}*/
.df-shaixuan-top  .w-fl {  float: left;margin-top: .7rem;padding-left: 20px;}
 .df-shaixuan-top .w-fr li{border:none;margin-top:0.8rem;font-size:14px;}
.df-shaixuan-bot{    margin-top: 0.5rem;background: #fff;position: relative;}
.imgDicv{width: 35%;height: 80%;padding-left: 20px;float: left;border-radius: .3rem;overflow: hidden;
 }
.imgDicv>img{width: 100%;}
.df-shaixuan-bot2{    float: left;width: 9rem;margin-left: 1rem;}
.df-shaixuan-bot2>div{margin-top:0.5rem;}
.df-shaixuan-bot2 span{margin-bottom:.5rem;}
.df-shaixuan-bot2 .df-shaixuan-span1{display: inline-block;font-size: 1rem;}
.df-shaixuan-bot2 .df-shaixuan-span2{color:#999999;font-size: .8rem;}
.df-shaixuan-span3{color:#d12a18;font-size:.8rem;}
.df-shaixuan-span4{font-size: 1rem;}
.df-biaozhun{ height: 8rem; padding:0 20px;position: relative;}
.df-biaozhun1{font-size:18px;height: 2rem;line-height: 2rem;}
.df-biaozhun2 li{float: left;padding-right:1rem;font-size:14px;}
.df-biaozhun2{height: 2rem;line-height: 2rem;font-size: .8rem;}
.df-biaozhuncolor{color:#d12a18;}
.df-biaozhunprice{font-size:1rem;
height: 2rem;
line-height: 2rem;
color:#d12a18;}
.df-biaozhunzk{height: 2rem;line-height: 2rem;}
.df-biaozhunzk span{
	font-size: .5rem;border:1px solid #d17218;padding:0 0.5rem;color:#d17218;background: #fff;
	border-radius: .3rem;}
.df-biaozhunzx .df-yd{    position: absolute;
    width: 4rem;
    height: 2rem;
    line-height: 1.6rem;
    top: 2.5rem;
    right: 1rem;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #d12a18;
    border-radius: .3rem .3rem 0 0;}
.df-biaozhunzx .df-yd a{color:#fff;font-size:18px;}
.df-biaozhunzx .df-zxf{position: absolute;width: 4rem;height: 1.3rem;line-height:1.3rem;top:4rem;right: 1rem;border: 1px solid #e0e0e0;
    text-align: center;border-radius: 0 0 .3rem .3rem ;background: #fff;color:#d12a18;}
    .df-biaozhunzx .df-zxf a{color:#d12a18;font-size: 0.8rem;}
.df-two{overflow:hidden;background: #FFF; position: relative;}
.df-two-pic1{padding:0 0.5rem; margin-top:1rem;}
.df-two-pic1 .df-twopic1{ width: 35%;
    height: 80%;
float: left;
background-size: contain;
border-radius: .3rem}
.df-tishi{    background: #fff;
    margin-top: 0.5rem;
    height: 8rem;}
.df-tishi-time  { 
	padding-left: 20px;
    height: 2rem;
    line-height: 2rem;
    font-size: 18px;}
.df-tishi-time span{width: 50%;}
.df-tishi-dog{    padding-left: 1rem;font-size: 18px;}


/*订房结束-----------------------------*/
/*药都大酒店餐饮开始--------------------------*/
@media(min-width:640px){    
    .head{margin: 0 auto; font-size:1rem;}
}

.zhead{ width: 100%; margin: 0 auto; background: #f2f2f2;/*height: 100%;margin-bottom: 10px;*/overflow:hidden;}
.zhead .zheadtitle{ height: 56px; line-height: 46px; background: #fff; position: relative;}
.zhead .zheadtitle .zmbank a{position: absolute;left:0;top:0.5rem; width: 10%;margin-right: 12px; height: 100%; display: inline-block;vertical-align: middle;margin-bottom: 0;}
.zhead .zheadtitle .zmbank img{ background:none;border:0; width: 20px;height:24px;display: inline-block;-webkit-border-radius:0;box-shadow:none;padding-left: 20px;}
.zhead .zheadtitle .zname{     font-size: 20px;
    color: #d12a18;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;}
.zhead .zheadtitle .zTel a{position: absolute;right:0;top: 0; width: 10%; height: 100%; display: inline-block;vertical-align: middle;margin-bottom: 0;}
.zhead .zheadtitle .zTel img{ background:none;border:0;margin-top: 0.7rem;
    width: 24px;height:25px; display: inline-block;box-shadow:none;padding-left:2.5rem;}
.zhead .zlogo{position: relative;height:264px;
 }
.zhead .zlogo img{border:0; width: 100%; height: 100%; display: inline-block;box-shadow:none;padding: 0;border-radius:0; margin-bottom:0px;}
.zmain-head{ margin: 0 auto;width: 100%;  height: 100%; position: absolute;top:0;}
.zmain-head .zmain-logo{ width: 100%; text-align: center; padding-top: 1.1rem;box-sizing: border-box;}
.zmain-head .zmain-logo img{ background:none;border:0;display: inline-block;box-shadow:none; width:20%; height: 100%;}
.zmain-head .zmain-name{ line-height: 1.3rem; height: 1.3rem; text-align: center;margin-top:0.3rem;}
.zmain-head .zmain-name a{ font-size: 14px; color: #fff; text-decoration: none; }
.zmain-head .zhx{  
	width: 100%;
	height: 1px; border-top: 1px solid #fff;opacity: 0.5;
	position: absolute;
	bottom: 3.1rem;
	 }
.zmain-head .zmain-tip{
	color: white;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*text-align: center;*/
    position: absolute;
    bottom: 0.5rem;
    left: 20px;
    height: 2.5rem;
    line-height: 2.5rem;
    /*margin-left: -9.75rem;*/
}
.zmain-head .zmain-tip a{
font-size: 16px;
color: #fff;
line-height: 1rem;
width: 100%;
display: inline-block;
text-align: left;
}
.znav-content{ height: 50px; line-height:50px;position: relative; width: 100%; }
.zwrapbg{ background: #fff;margin: 5px 0; }
.znav-content .zcontentleft{ position: absolute; left:0; top: 0;}
.znav-content .zcontentleft img{    border: 0;
    display: inline-block;
    box-shadow: none;
    width: 1.5rem;
    padding-top: 1.1rem;
    position: absolute;
    padding-left: 0.5rem;}
.znav-content .zcontentleft a{    font-size: 1rem;
    color: #666;
    display: inline-block;
    margin-left: 2.5rem; }
.zcontentright{position: absolute;right: 0; top: 0; margin-right:2%;}
.zcontentright img{    border: 0;
    display: inline-block;
    box-shadow: none;
       width: .8rem;
    height: 100%;
    padding-top: 0.8rem;
    background-size: contain;}
.zmainmuen{ margin-top: 8px;  width: 100%;}
.zmainmuen .zmainmuen-title{ height: 45px;line-height: 45px; background: #fff; width: 100%; border-bottom: 1px solid #ddd;}
.zmainmuen .zmainmuen-title a{ background: url(../../images/hotel/app_14.png) no-repeat;padding-left: 15px; margin-left: 10px; font-size: 1rem; color: #666; }
.zcolumn{position: relative;}
.zcolumn .zcolumn-left{float:left;background: #fff;  left: 0; width: 6rem; float: left;}
.zcolumn .zcolumn-left ul li{ height:45px; line-height: 45px; border-bottom: 1px solid #ddd; }




.zcolumn .zcolumn-left ul li span{font-size:.8rem;color:#666;}
.zcolumn .zcolumn-left .zcur span,.column .column-left li:hover{background:#f2f2f2;color:#d12a18}
.zcolumn-right2{padding-left:0rem;background:#fff;overflow:auto;}
.zcolumn-right3{padding-left:0rem;background:#fff;overflow:auto;}
.zcolumn-right4{padding-left:0rem;background:#fff;overflow:auto;}
.zcolumn-right5{padding-left:0rem;background:#fff;overflow:auto;}
.zcolumn-right6{padding-left:0rem;background:#fff;overflow:auto;}
.zcolumn-right7{padding-left:0rem;background:#fff;overflow:auto;}





.zcolumn .zcolumn-left ul li a{ font-size: .8rem; color: #666; }
.zcolumn .zcolumn-left ul{margin:0;text-align: center;}
.zcolumn-right{padding-left: 0rem; background: #fff; overflow:auto;}
.zsidebar{position: relative;}
.zsidebar .zbanner{ height: 100%; width: 100%; }
.zsidebar .zbanner>img{    width: 100%;
    height: 7rem;}
.zsidebar-hot{position: absolute;top: 0; text-align: right; right: 0;padding-right: 5px; width: 100%; background:rgba(64, 64, 64, 0.53); height: 100%;min-height:68px; }
.zsidebar-hot>div{color: #999;top: 4%;}
.zprice{ font-size: 1rem;margin-top: 1.5rem; }
.zactivity{    margin-top: 1rem;}
.zactivity,.ztime{font-size: 0.8em;}
.zover{    position: absolute;
        top: 1.5rem;
    right: 0.5rem;}
.zover img{border:0;display: inline-block;box-shadow:none; background: none; width:3rem; height: 100%;right: 0;}
.zcolumn-rightlist{width: 100%; position: relative; overflow:hidden; border-bottom: 1px solid #ddd; padding-bottom: 10px;}
.zsidebar-right1{ float: left; width: 40%; margin-top:10px;}
.zsidebar-right1 .zthumbnail{padding: 0px;border: 0px;background-color: transparent;margin-bottom: 0px;}
.zsidebar-right1 a>img{ width: 100%;}
.zsidebar-righ2{ float: left; margin-left: 5px;}
.zsidebar-righ2 p{margin:0;}
.zsidebar-righ2 .zsideName{ line-height: 30px; font-size: 0.8rem; color: #333;}
.zsidebar-righ2 .zside-ys{ line-height: 26px; color: #116f81; font-size:0.6rem;}
.zsidebar-righ2 .zprice{line-height: 26px; color: #d12a18; }
.zsidebar-righ2 .zprice>i{font-style: normal; margin-right: 15px;}
.zsidebar-righ2 .zprice .zm-1{ color: #d12a18; font-size: 0.8rem; }
.zsidebar-righ2 .zprice .zm-2{ color: #999; font-size: 0.8rem; text-decoration: line-through; }
.zsidebar-righ2 .zadd{ position: absolute; top: 0; right: 0; width: 10%; margin-top:53px; margin-right: 5%; }
.zsidebar-righ2 .zadd img{ width: 100%;height: 100%; }
.zcur{ background: #f2f2f2; color:#d12a18 }
.zshopping{height: 52px; line-height: 52px; background: #fff; width: 100%;position: fixed;bottom: 0px;font-size: 1rem;}
.zshopping .zshopping-price{       position: absolute;
    left: 0rem;
    top: 0;
    margin-left: 4.5rem;
    line-height: 3rem;
    height: 3rem;
    font-size: 1.5rem;}
.zshopping  .zshop{width:22%;position: relative;}
.zshopping  .zshoppingleft .zshop .sp{       position: absolute;
    height: 1.5rem;
    font-size: 0.5rem;
    color: #fff;
      top: 0.2rem;
    left: 2rem;
    background: #d12a18;
    border-radius: 1rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;}
.zshopping .zshopping-price a{  color:#d12a18;text-decoration: none;}
.zshopping .zshopping-price i{font-style: normal;  font-size: .8rem; }
.zshopping .zshop img{ width: 2rem; margin-left: 10px; margin-top: 10px; border:0;display: inline-block;box-shadow:none;padding: 0}
.zSettlement{right: 0; bottom : 0; width: 30%;height: 100%;position:absolute;}
.zSettlement a{ background: url(../../images/hotel/app_32.png) no-repeat 0 0; width: 100%; display: block;text-align: center; font-size: 18px; color: #fff;background-size:cover;height:100%;}
.zSettlement a:focus{text-decoration:none; color: #fff;}
.zSettlement a:hover{text-decoration:none; color: #fff;}
/*药都大酒店结束--------------------------*/


/*首页开始*/
.zhead .zbanner{margin-top:0.5rem;overflow:hidden;background: #f2f2f2;}
.zbanner1{width:94.5%;margin: 0 auto;margin-bottom:0.5rem;position: relative;overflow: hidden;height:5rem;font-size:16px;}
.service1 img{width:100%;height: 100%;background-size: contain;}
.service1 span{position: absolute;color:#fff;}
.service1-df{top:1rem;font-weight:700;display:inline-block;width:100%;text-align:center;}
.service1-Exhibition{top: 2rem;font-weight:500;display:inline-block;width:100%;text-align:center;}
.service1-Reservation{top: 2rem;font-weight:500;display:inline-block;width:100%;text-align:center;}
.service1-Restaurant{top: 2rem;font-weight:500;display:inline-block;width:100%;text-align:center;}
.service1-df1{top:3rem;font-weight: 100;display:inline-block;width:100%;text-align:center;}
/*首页结束*/
/*轮播图开始--------*/
 .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    /*alert   预定弹出层开始*/
   .scro{
   	height: 20rem;
   		/*overflow: scroll;
   		 -webkit-overflow-scrolling: touch;*/
   }
.alert-head{margin: 0 auto;color:#676767;border-radius:0.3rem;height:auto;display: none;background:#fff;}
.alert_bz{color:#000;font-size: 0.8rem;height: 2rem;line-height: 2rem;padding:0 20px;background: #f2f2f2;position:relative;z-index:10;}
.alert_bz a{float: right;}
.alert_bz img{width: 1rem;height:1rem;}
.alert-title img{width: 0.7rem;height: 0.7rem;background-size: contain;}
#wrapper{position:relative;z-index:5;height:13rem;}
.alert-title ul{
	height: 3rem;
	overflow: hidden;
}
#wrapperIn{
	position:absolute;
	overflow:hidden;
}
.alert-title li{float: left;width:33.33%;height: 1rem;line-height: 1rem;font-size:14px;margin-top:0.5rem;}
.alert-title li i{padding-right: 0.3rem;}
.alert-title{border-bottom: 1px solid #e0e0e0;padding:0 20px;position: relative;padding-bottom: 10px;}
.alert-xz{border-bottom: 1px solid #e0e0e0;padding:0 20px;padding-bottom:10px;}
.alert-xz1{color: #282828;font-size:16px;display: block;height: 2rem;line-height: 2rem;}
.alert-xz2{font-size:14px;padding-bottom:10px;}
.alert-yh{padding:0 20px;}
.alert-zxzf{position: absolute;}
.alert-zx{border-top: 1px solid #e0e0e0;height: 2.5rem;line-height: 2.5rem;padding-left:20px;position: absolute;bottom: 0;background: #fff; width: 100%;z-index:10;}
.alert-yd{position: absolute;right:0;font-size:14px;text-align:center;}
.alert-zx1{color:#000;}
.alert-zx2{font-size:0.8rem;color:#d12a18;}
.alert-zx3{font-size:1.2rem;color:#d12a18;}
.alert-zx4{background:url(../../images/hotel/app_32.png) no-repeat 0 0;width: 9rem;color:#fff;text-align: center;height:auto;font-size:18px;background-size:cover;}
.alert-down{
	position: absolute;bottom:0rem;width:0.6rem;
	left: 50%;
	margin-left: -0.3rem;

	}
.alert-down>img{
	width: 100%;
	height: auto!important;
}
/*预定弹出层结束*/

/*订房筛选弹出层开始*/
.sx-dio{display: none;}
.sx-dio{overflow:hidden;border-top:2px solid #d12a18;margin: 0 auto;}
.sx-dio .sx-dio-no{
    height: 20rem;
    background-color: #fff;
    /*overflow:hidden;*/
}
.sx-dio-hobby{height: 64px;line-height: 50px;background: #f2f2f2;position: relative;z-index:10;}
.sx-dio-hobby i {
	position: absolute;
width: 20px;
height: 23px;
background: url(../../images/hotel/app_14.png) no-repeat 0 0;
top: 0.9rem;
left: 20px;
}
.sx-dio-hobby span{padding-left:30px; font-size:20px;}
.sx-dio-hobby a{float: right;padding-right:20px;line-height: 54px;}
.sx-dio-hobby img{width:80%;height: 80%;padding-top: 1rem;}
#wrapper2{position:relative;z-index:5;height:20rem;}
.df-dio{
margin:0 auto;
/*height: 17rem;*/
background-color: #fff;
overflow:hidden;
width: 100%;
position:absolute;
z-index: 5;
}
.goPay-txt{
position: relative;
border-bottom: 1px solid #e0e0e0;
box-sizing: border-box;
height: 64px;
line-height: 50px;
font-size: 20px;
}
.goPay-txt i{
	position: absolute;
	width: 20px;
	height: 23px;
	background: url(../../../images/hotel/app_14.png) no-repeat 0 0;
	left: 20px;
	top: 0.8rem;
}
.goPay-txt span{
	margin-left: 30px;
}
.df-dio-cx{ 
    padding: 0.5rem 0.5rem 0;
    border-bottom: #e0e0e0;}
.df-dio-cx .df-dio-cx1{display:inline-block;width:100%;height: 2rem;line-height: 2rem;font-size:16px;}
.df-dio-cx2{margin-bottom:0.2rem;}
.df-dio-cx2 a{width:10%;padding:0 20px;display: inline-block;text-align: center;border-radius: 50px;border:1px solid #e0e0e0;height:25px;line-height:21px;font-size:12px;}
.df-dio-cx2 .df-dio-big{border:1px solid #d12a18;color:#d12a18;}
.df-dio-zc{padding-left:.5rem;border-bottom:#e0e0e0;}
.df-dio-qk{height: 3rem; line-height: 2.5rem; background: #fff; width: 100%;position: fixed;bottom: 0px;font-size: 1rem;z-index:100;
	display: none;
}
.df-dio-qk img {
    width: 22px;
height: 24px;
background-size: contain;
/* padding: 0 0.5rem; */
position: absolute;
top: 60%;
left: 50%;
margin-top: -1.2rem;
margin-left: -0.6rem;
}
.df-dio-qk4{width: 23%;position: absolute;border-top:1px solid #d12a18;}
.df-dio-qk1 {
    width: 100%;
    height: 52px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}
.df-dio-qk2 {
font-size: 14px;
color: #d12a18;
position: absolute;
top: 46%;
left: 50%;
margin-top: -0.1rem;
margin-left: -1.1rem;
width: 3rem;
height: 2rem;
/* padding: 0 0.5rem;*/
}
.df-dio-qk3{width: 77%;border:1px solid red;text-align: center;height: 60px;line-height: 46px;float: right;background: url(../../images/hotel/0001.png) repeat 0 0;background-size:cover;font-size:18px;}
.df-dio-qk3 a{color:#fff;display:inline-block;width:100%;height:100%;}

/*订房筛选弹出层结束*/

/*住宿偏好开始--------------------*/
.hidebg{  position:absolute;left:0px;top:0px; 
      background-color:#000; 
      width:100%; 
      height:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/ 
      filter:alpha(opacity=60);  /*设置透明度为60%*/ 
      opacity:0.6;  /*非IE浏览器下设置透明度为60%*/ 
      display:none; 
      z-Index:2;
        }
        .wmain{position: fixed;}
.goPay-dio{display: none;}
.goPay-dio{overflow:hidden;border-top:2px solid #d12a18;margin: 0 auto;}
.goPay-dio .goPay-dio-no{
    height: 16rem;
    background-color: #fff;
}
.goPay-hobby{height: 64px;line-height: 54px;background: #f2f2f2;position: relative;font-size: 20px;}
.goPay-hobby i{position: absolute;
width: 20px;
height: 23px;
background: url(../../images/hotel/app_14.png) no-repeat 0 0;
top: 1rem;
left: 20px;}
.goPay-hobby span{padding-left:30px; }
.goPay-hobby a{float: right;padding-right:20px;line-height: 3rem;}
.goPay-hobby img{width:80%;height: 80%;padding-top: 1.2rem;}
.goPay-hobbyno li{margin:0 20px;border-bottom:1px solid #e0e0e0;height: 3rem;line-height: 3rem;position: relative;font-size:14px;}
.colorred{color:#d12a18;}
.coloryes{position: absolute;background:url(../../images/hotel/xingzhuang.png) no-repeat 0 0 ;top: 1rem;right: 0rem;
    width: 2rem;
    height: 1rem;display: inline-block;background-size:contain;}
.goPay-hobbyno li:last-child{border-bottom: none;}
/*住宿偏好结束--------------------*/

/*点击按钮隐藏--------------------*/
.down2{width:1rem;height:1rem;position:absolute;top:2rem;right:20px;background:url(../../images/hotel/down.png) no-repeat center;}
.up2{width:1rem;height:1rem;position:absolute;top:2rem;right:20px;background:url(../../images/hotel/up.png) no-repeat center;}