body{
	font-size: 18px;
}
header{
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	background: white;
}
/*header .back a img{
	width: 0.21rem;
	height: 0.38rem;
	margin-top: 0.05rem;
}
header .word{
	font-size: 0.36rem;
	color: #d12a18;
	margin-left: 2rem;
} */
label{
	display: inline-block;
}
.list{
	background: white;
	box-sizing: border-box;
	margin-top: 10px;
}
.list li{
	height:55px;
	border-bottom: 1px solid #e0e0e0;
}
.list p:first-child{
	padding-left: 20px;
	height:54px;
	line-height: 45px;
}
.list p:last-child{
	padding-right: 40px;
	height:54px;
	line-height: 45px;
}
.list li .selectP{
	/* padding-right: 0.4rem; */
	background: url(../../images/food/chexiao.png) 75px 17px no-repeat;
	background-size: 12px;
	box-sizing: border-box;
}




.list li .phone{
	background: url(../../images/food/chexiao.png) 75px 17px no-repeat;
    background-size:12px;
    font-size: 18px;
}
.prise{
	color: #d12a18;
	font-weight:bolder;
	font-size: 20px;
}
.sel{
	appearance: none;
    -webkit-appearance: none;
    width:24px;
    height: 24px;
    background: url(../../images/food/noSel.png) 0rem 0rem no-repeat;
    background-size: 24px;
    /*line-height: 0.55rem;*/
  /*   margin-right:0.15rem; */
    vertical-align:middle;  
}
.selInfo{
	/* margin-top: 0.2rem; */
    display: inline-block;
}
.sel:checked{
	background: url(../../images/food/yesSel.png) 0rem 0rem no-repeat;
	background-size: 24px;
}
.sel:checked+.selInfo{
	color:#d12a18;
}
.roomCho{
	overflow:hidden;
	/* line-height: 0.55rem; */
}
/*foot*/
footer{
	background-color: white;
	width: 100%;
	position:fixed;
	bottom: 0;
	height: 52px;
	overflow: hidden;
	line-height:42px;
	border-top: 1px solid #d12a18;
	font-size:18px;
}
.userName{
	color:#666;
	display:inline-block;
	/* width:5rem; */
	height:32px;
	line-height:22px;
	font-size: 18px;
	text-align: right;
}
.leftFoot{
	width: 70%;
	float: left;
}
.cartInner{
	width: 0.6rem;
	margin-left:0.2rem;
	position: relative;
}
.num{
	position: absolute;
	top: -0.1rem;
	right: -0.09rem;
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background-color: #d12a18;
	color: white;
	line-height:0.25rem;
	text-align: center;
	font-size: 0.15rem;
}
.cartInner img{
	width: 100%;
}
.rightFoot{
	height: 52px;
	width: 30%;
	float: right;
	background: url(../../images/food/bag.png) 0 0 no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: #ffffff;
}
.cart{
	position: relative;
}
.pricePosi{
	position: absolute;
	top: -0.03rem;
    left: 0.75rem;
	font-size: 18px;
	font-weight: bolder;
}
/*button*/
.al-toggle-button{
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 30px;
    background: #dfdfdf;
    border-radius: 1.5rem;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-sizing: border-box;
   margin-top: 15px;
}
.al-toggle-button:checked{
    border-color: #d12a18;
    background-color: #fef0ee;
}
.al-toggle-button:before, .al-toggle-button:after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height:30px;
    border-radius: 0.6rem;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}
.al-toggle-button:before{
    width: 70px;
    background-color: #fdfdfd;
    border:1px solid #e0e0e0;
}
.al-toggle-button:after{
    width: 30px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.al-toggle-button:checked:after{
    width: 30px;
    background-color:#d12a18;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.al-toggle-button:checked:before{
    transform: scale(0);
    -webkit-transform: scale(0);
}
.al-toggle-button:checked:after{
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
}
#datePlugin footer#dateFooter{
	border-top: 0!important;
}